
body {
    background-image: url(back1.jpg); /*Настройка фона*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 100vh;
    background-attachment:fixed; 
    margin: 0;
    font-family: "Inter"; /*Шрифт*/
    
}
.header {
    height: 15vh;
}
.nav {
    text-align: center; /*выравнивание по центру*/
    margin-top: 0; /*отступ сверху*/
    font-weight: 700; /*толщина шрифта*/
    font-size: 70px; /*размер шрифта*/
    color: black; /*цвет*/
    text-shadow: /*Тень от букв*/
    0 0 50px;
    animation: fadeInOut 3s infinite; /*Анимация заголовка (проигрывается бесконечно)*/
}
@keyframes fadeInOut { /*Ключевые кадры анимации*/
    0% {
        padding-top: 50px; 
        opacity: 0; /*прозрачность элемента*/
    }
    50% {
        padding-top: 100px;
        opacity: 1;
    }
    100% {
        opacity: 0;
        padding-top: 50px;
    }
}

.list {
    margin-top: 15vh;
    display: block;
    justify-content: center;
    font-weight: 400;
    font-size: 30px;
    color: black;
    text-shadow: 
    0 0 15px ;
    animation: listAnim 3s 1; /*Снова анимация, но уже на список*/
}
@keyframes listAnim { /*И снова ключевые кадры*/
    0% {
        opacity: 0; 
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.list h2 {
    font-size: 30px;
    text-align: center;
}
li {
    text-align: center;
    margin-top: 20px; /*отступ сверху*/
    margin-bottom: 30px ;
    list-style-type: none; /*состояние точек рядом с элементами списка (отключены)*/ 
}
a {
    color: black; 
    transition: 0.5s; /*плавный переход между состоянием элемента (1ое состояние)*/
    text-decoration: none; 
}
a:hover {
    color: rgb(255, 255, 255); /*второе состояние (при наведении курсора цвет ссылки поменялся на белый)*/
    text-decoration: none; 
}
@media (max-width: 768px) {
    .nav {
        font-weight: 700;
        font-size: 35px;
    }
    .list {
        font-size: 15px;
    }
    .list h2 {
        font-size: 20px;
        text-align: center;
    }
}
@media (min-width: 769px) {
    .nav {
        font-weight: 300;
        font-size: 60px;
    }
    .list {
        font-size: 25px;
    }
    .list h2 {
        font-size: 30px;
        text-align: center;
    }
}
@media (min-width: 2560px) {
    .nav {
        font-weight: 300;
        font-size: 70px;
    }
    .list {
        font-size: 40px;
    }
    .list h2 {
        font-size: 40px;
        text-align: center;
    }
}




























